
DriveSchoolClient/.vs/DriveSchoolClient/FileContentIndex/

DriveSchoolClient/.vs/DriveSchoolClient/v17/

DriveSchoolClient/DriveSchoolClient/bin/

DriveSchoolClient/DriveSchoolClient/obj/

*.p7s

DriveSchoolClient/packages/
DriveSchoolClient/DriveSchoolServer/obj/Release/

Setup/Client/

DriveSchoolClient/DriveSchoolServer/obj/Debug/

DriveSchoolClient/DriveSchoolServer/bin/Debug/

DriveSchoolClient/DriveSchoolServer/bin/Release/

DriveSchoolClient/DriveSchoolServer/obj/
